modLoader="javafml"
loaderVersion="${loader_version_range}"
license="${mod_license}"
clientSideOnly=true
logoFile="icon.png"

[[mods]]
modId="${mod_id}"
version="${mod_version}"
displayName="${mod_name}"
authors="${mod_authors}"
description='''${mod_description}'''

[[mixins]]
config="mixins.webdisplays_brightness_control.json"

[[dependencies.${mod_id}]]
    modId="forge"
    mandatory=true
    versionRange="${forge_version_range}"
    ordering="NONE"
    side="BOTH"

[[dependencies.${mod_id}]]
    modId="minecraft"
    mandatory=true
    versionRange="${minecraft_version_range}"
    ordering="NONE"
    side="BOTH"

[[dependencies.${mod_id}]]
    modId="webdisplays"
    mandatory=true
    versionRange="[2.0.1,)"
    ordering="AFTER"
    side="CLIENT"
